<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<nav th:replace="main::navigation">
</nav>
<div class="container col-6">
    <div class="row align-items-center">
        <div class="row mb-3">
            <h1 class="display-3">Twoje zadania</h1>
        </div>
        <div class="row mb-3">
            <table th:class="${tableColor}">
                <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th>
                        Termin wykonania
                    </th>
                    <th>
                        Operacje
                    </th>
                    <th>
                        Zawartość
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="st: ${tasks}">
                    <td>
                        <div th:text="${st.getTask().getName()}">AA</div>
                        <p th:if="${st.note == 5}">bardzo dobry</p>
                        <p th:unless="${st.note <= 2}">test zaliczony</p>
                    </td>
                    <td>
                        <span th:text="${st.getTask().getDeadline()}">AA</span>
                    </td>
                    <td>
                        <span th:text="${st.getFinishDate()}">BB</span>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/student/task/{id}(id = ${st.getId()})}">Wykonaj</a>
                        <a class="btn btn-info" th:href="@{/student/task-details/{id}(id=${st.getId()})}">Szczegóły</a>
                    </td>
                    <td>
                        <span th:if="${st.content != null}" th:text="${st.content}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:insert="main::footer">
    </footer>
</body>
</html>