<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="main::head">
</head>
<body>
<nav th:replace="main::navigation">
</nav>
<div class="container col-6">
    <div class="row mb-3">
        <h1 class="display-3">Opis zadania</h1>
    </div>
    <div class="row align-items-center">
        <p>Nazwa zadania: <strong th:text="${taskDetails.name}"> </strong></p>
        <p>Maksymalna liczba punktów: <strong th:text="${taskDetails.max}"> </strong></p>
        <p>Opis zadania: <strong th:text="${taskDetails.description}"> </strong></p>
    </div>
</div>
<footer th:insert="main::footer">
</footer>
</body>
</html>