<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
    <nav th:replace="main::navigation">
    </nav>
    <div class="container m-3">
        <div class="container">
            <h2>Aplikacja z zadaniami</h2>
        </div>
        <h3>Konfiguracja</h3>
        <ul>
            <li>
                Domyślny rozmiar strony: <span th:text="${pageSize}"></span>
            </li>
            <li>
                Domyślna strona: <span th:text="${pageStart}"></span>
            </li>
        </ul>
        <div class="container">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/student">Student</a>
            </li>
            <li class="nav-item">
                <a href="/admin">Admin</a>
            </li>
        </ul>
        </div>
    </div>
<footer th:insert="main::footer">

</footer>
</body>
</html>