<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<nav th:replace="main::navigation">
</nav>
<div class="container col-6">
    <div class="row align-center-items">
        <div class="row">
        <h2 class="display-6 mb-3">Aplikacja z zadaniami dla studentów</h2>

        <h3 class="display-7 mb-3">Konfiguracja</h3>
        <ul class="list-group">
            <li class="list-group-item">
                Domyślny rozmiar strony: <span th:text="${pageSize}"></span>
            </li>
            <li class="list-group-item">
                Domyślna strona: <span th:text="${pageStart}"></span>
            </li>
        </ul>
        </div>
    </div>
</div>
<footer th:insert="main::footer">

</footer>
</body>
</html>